.fa-home { 
	color: #00FFF5;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
li {
	display: inline;
	float: left;
}
li a {
	color: white;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a: hover {
	background-color: #111;
}
h1 { 
	font-family: "tempus sans itc",serif;
	font-size: 30px;
	font-style: italic;
	color: #FFFFFF;
	padding: 15px;
	margins: 20px;
	clear: both;
	border-top-style: dotted;
	border-right-style: solid;
	border-bottom-style: dotted;
	border-left-style: solid;
}
body {
	font-family: "tempus sans itc",serif;
	color: #FFFFFF;
}
