h1{ 
	font-family: "tempus sans itc",serif;
	font-size: 30px;
	font-style: italic;
	color: #2E2EFE;
	background-image:url("wallpaper for project 2.jpg");
	border-style: dotted double;
	border-width:5px;
	border-color:#FE2E9A;
	padding: 10px;
	margins: 10px;
	float: right;
	clear: both;
}

a{
	color:#FFFFFF;
	
}
